* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background: #333;
}
.header {
  color: white;
  text-align: center;
}
.container {
  height: 250px;
  width: 400px;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.answer {
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
#guess {
  color: black;
  margin-left: 260px;
  position: fixed;
  margin-bottom: 10px;
}
#again {
  position: fixed;
  margin-left: 250px;
}
.lower {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -80px;
}
.hint {
  color: aliceblue;
  height: 30px;
  width: 400px;
  margin-top: 10px;
  display: flex;
  cursor: pointer;
  margin-left: 40px;
  position: absolute;
  bottom: 0;
  left: 10%;
}
.hint p {
  font-size: 15px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .container {
    top: 10%; /* Reset top position */
    left: auto;
    width: 300px; /* Reset left position */
    transform: none;
    height: 340px;
    padding: 20px;
  }
  .answer {
    flex-direction: column;
    width: 100%;
  }
  .wrong {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 5px;
  }
  #guess {
    margin-left: 0px;
    position: relative;
  }
  #again {
    position: relative;
    margin-left: 0px;
  }
  .hint {
    width: 300px;
  }
}
